div.row{
    width: 1050px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    background-color: #a29d7f;
    /*background-image: url("../img/emptyBlock.png");*/
}

div.W{
    box-sizing: border-box;
   background-image: url("../img/wall.png");
   /*background-image: url("../img/wallBlock.png");*/
    width: 50px;
    /*background-color: #ad8d6a;*/
    height: 50px;
    border: 1px groove black;
}

div.empty {
    width: 50px;
    height: 50px;
    z-index: 0;
}

div.P{
    background: url("../img/pokeball.gif");
    background-size: contain;
}

div.R{
    background-image: url("../img/teamRocket.png");
}

div.S, div.F{
    width: 50px;
    height: 50px;
    z-index: 0;
}

div.S{
    background-image: url("../img/Start.png");
}

div.F{
    background-image: url("../img/Finish.png");
}

div#player{
    background-image: url("../img/playerRight.png");
    width: 50px;
    height: 50px;
    z-index: 1;
}

div#modal{
    width: 1050px;
    height: 800px;
    background-color: black;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 8px;
    color:white;
    text-align: center;
}

div#modal-pokeball{
    border: solid 3px #aba5df;
}

/*div#teste{*/
/*    width: 500px;*/
/*    height: 500px;*/
/*    background-image: url("../img/teste.gif");*/
/*}*/