@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background-image: url("../img/backDesert.png");
    background-repeat: no-repeat;
    background-size: cover;
}

div.row{
    width: 1050px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    background-color: #a29d7f;
}

div.W{
    box-sizing: border-box;
   background-image: url("../img/wall.png");
    width: 50px;
    height: 50px;
    border: 1px groove black;
}

div.empty,div.S, div.F {
    width: 50px;
    height: 50px;
    z-index: 0;
}

div.S{
    background-image: url("../img/Start.png");
}

div.F{
    background-image: url("../img/Finish.png");
}

div#player{
    background-image: url("../img/playerRight.png");
    width: 50px;
    height: 50px;
    z-index: 1;
}

div.Pokeball{
    background: url("../img/pokeball.gif");
    background-size: contain;
}

div.Rocket{
    background-image: url("../img/teamRocket.png");
}

div#modal{
    font-family: 'Press Start 2P', cursive;
    width: 600px;
    height: 300px;
    position: absolute;
    right: 50%;
    bottom:50%;
    transform: translate(50%,50%);
    color:black;
    text-align: center;
    border: ridge 17px #8a82a1;
    background-color: #fdfdfd;
    z-index: 1;
}

.hidden{
    display: none;
}

.visible{
    display: inline-block;
}

#form{
    margin-top: 20px;
}
#modal-h2{
    line-height: 60px;
}

button {
    font-family: 'Press Start 2P', cursive;
    margin: 20px;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #AAB0B5;
    color: #ffffff;
    font-weight: bold;
    position: relative;
}